{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block expert %} active {% endblock %}
{% block content %}
<div style="text-align: center;">
    <h1 class="display-3 method-name" align="center" style="display: inline-block; margin-right: 1%"><b>Метод Експертних
        Оцінок</b></h1>
    <img src="{{ url_for('static', filename='img/experts.png') }}" alt="Experts" width="6%" style="margin-bottom: 41px">
</div>
<br><br>
<div class="center">
    <form class="form" action="{{ url_for('experts.experts_competence') }}" method="POST">
        {% if error %}
        <div class="alert alert-danger alert-style" role="alert"><i>{{ error }}</i></div>
        <br>
        {% endif %}

        <p class="input-label">Введіть імена напрямків дослідження:</p>
        {% for i in range(num_research) %}
        <input class="input-settings" type="text" name="name_research" id="name_research_{{ i }}" value="{% if names %}{{ names[i] }}{% endif %}"
               placeholder="Напрямок дослідження {{ i+1 }}" required>
        {% endfor %}
        <br><br>
        <button type="submit" class="btns first">Далі</button>
        <br>
    </form>
</div>
{% endblock %}