{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block profile %} active {% endblock %}
{% block content %}
<div style="text-align: center;">
    <h1 class="display-3 method-name" align="center" style="display: inline-block; margin-right: 1%"><b>Профіль</b></h1>
    <br><br>

    <div style="display: flex; align-items: center; ">
        <img src="../static/img/user_profile.png" alt="Profile" width="20%">
        <div style="margin-left: 3%; text-align: left">
            <h3 class="blue-text" style="color: #45A29E">Email:</h3>
            <h3 class="blue-text" style="color: #EDF5E1">{{email}}</h3>
            <br>
            <h3 class="blue-text" style="color: #45A29E">Ім'я:</h3>
            <div>
                <h3 class="blue-text" style="color: #EDF5E1; display: inline-block; margin-right: 1%">{{name}}</h3>
                <a href="{{ url_for('change_name') }}">
                    <img src="../static/img/pen.png" alt="Pen" width="6%">
                </a>
            </div>
        </div>
    </div>

    <div>
        {% if result_history %}
        <br><br>
        <h2 class="result-text" align="center">Історія результатів</h2>
        <br>
        <div style="margin-left: 3%; text-align: left">
            {% if pagination.pages|length > 1 %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center"
                    style="color: #66FCF1; background-color: #0B0C10;">
                    {% for page_num in pagination.pages %}
                    <li class="page-item{% if page_num == pagination.page %} active{% endif %}">
                        <a class="page-link"
                           href="{{ url_for('profile', page=page_num, per_page=pagination.per_page) }}">{{ page_num
                            }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            {% endif %}
            <div class="row row-cols-5">
                {% for result in result_history %}
                <div class="col" style="margin-bottom: 20px;">
                    <div class="card" style="background: #EDF5E1">
                        <form id="delete-form-{{ result.result_id }}" method="post"
                              action="{{ url_for('delete_result', result_id=result.result_id) }}"
                              style="position: absolute; top: 0; left: 0;">
                            <button type="submit" class="btn btn-danger btn-sm rounded-circle"
                                    style="margin: 5px; color: red; background-color: red; border: none;
                   width: 20px; height: 20px; display: flex; align-items: center; justify-content: center;
                   font-size: 10px; line-height: 10px;"
                                    onmouseover="this.style.color='black';" onmouseout="this.style.color='red';">
                                X
                            </button>
                        </form>


                        {% if result.method_name == 'Hierarchy' %}
                        <a href="{{ url_for('hierarchy.result', method_id=result.method_id) }}"
                           style="text-decoration: none;">
                            <img src="{{ url_for('static', filename='img/hierarchy.png') }}" alt="hierarchy"
                                 class="card-img-top" style="margin-top: 20px">
                            <div class="card-body">
                                <h5 class="blue-text" style="color: #45A29E; font-size: 20px"><b>Аналіз Ієрархій</b>
                                </h5>
                                <div class="card-text"><h4 class="blue-text" style="color: #05386B; font-size: 17px;">
                                    Імена критеріїв:</h4>
                                    <ul>
                                        <li class="results-list">
                                            {% for criteria_name in result.criteria_names %}
                                            {{ criteria_name }}{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </li>
                                    </ul>
                                    <h4 class="blue-text" style="color: #05386B; font-size: 17px;">Імена
                                        альтернатив:</h4>
                                    <ul>
                                        <li class="results-list">
                                            {% for alternative_name in result.alternatives_names %}
                                            {{ alternative_name }}{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </li>
                                    </ul>
                                    {% if current_user.get_name() == 'admin' %}
                                    <h4 class="blue-text" style="color: #05386B; font-size: 17px;"><i>Власник
                                        результату:</i></h4>
                                    <ul>
                                        <li class="results-list"><i>{{ result.owner_name }}</i></li>
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        {% elif result.method_name == 'Binary' %}
                        <a href="{{ url_for('binary_relations.result', method_id=result.method_id) }}"
                           style="text-decoration: none;">
                            <img src="{{ url_for('static', filename='img/binary.png') }}" alt="binary"
                                 class="card-img-top" style="margin-top: 20px">
                            <div class="card-body">
                                <h5 class="blue-text" style="color: #45A29E; font-size: 20px"><b>Бінарне Відношення</b>
                                </h5>
                                <div class="card-text"><h4 class="blue-text" style="color: #05386B; font-size: 17px;">
                                    Імена об'єктів:</h4>
                                    <ul>
                                        <li class="results-list">
                                            {% for binary_name in result.binary_names %}
                                            {{ binary_name }}{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </li>
                                    </ul>
                                    {% if current_user.get_name() == 'admin' %}
                                    <h4 class="blue-text" style="color: #05386B; font-size: 17px;"><i>Власник
                                        результату:</i></h4>
                                    <ul>
                                        <li class="results-list"><i>{{ result.owner_name }}</i></li>
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        {% elif result.method_name == 'Experts' %}
                        <a href="{{ url_for('experts.experts_result', method_id=result.method_id) }}"
                           style="text-decoration: none;">
                            <img src="{{ url_for('static', filename='img/experts.png') }}" alt="experts"
                                 class="card-img-top" style="margin-top: 20px">
                            <div class="card-body">
                                <h5 class="blue-text" style="color: #45A29E; font-size: 20px"><b>Експертні Оцінки</b>
                                </h5>
                                <div class="card-text"><h4 class="blue-text" style="color: #05386B; font-size: 17px;">
                                    Імена об'єктів:</h4>
                                    <ul>
                                        <li class="results-list">
                                            {% for name_research in result.name_research %}
                                            {{ name_research }}{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </li>
                                    </ul>
                                    {% if current_user.get_name() == 'admin' %}
                                    <h4 class="blue-text" style="color: #05386B; font-size: 17px;"><i>Власник
                                        результату:</i></h4>
                                    <ul>
                                        <li class="results-list"><i>{{ result.owner_name }}</i></li>
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        {% elif result.method_name == 'Laplasa' %}
                        <a href="{{ url_for('kriteriy_laplasa.result', method_id=result.method_id) }}"
                           style="text-decoration: none;">
                            <img src="{{ url_for('static', filename='img/laplasa.png') }}" alt="laplasa"
                                 class="card-img-top" style="margin-top: 20px">
                            <div class="card-body">
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if pagination.pages|length > 1 %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center"
                    style="color: #66FCF1; background-color: #0B0C10;">
                    {% for page_num in pagination.pages %}
                    <li class="page-item{% if page_num == pagination.page %} active{% endif %}">
                        <a class="page-link"
                           href="{{ url_for('profile', page=page_num, per_page=pagination.per_page) }}">{{ page_num
                            }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            {% endif %}


        </div>
        {% endif %}
    </div>
</div>
<br><br>


<script>
    // Функція для встановлення однакової висоти для карток в одному рядку
    function setCardHeight() {
        // Знаходимо всі картки на сторінці
        var cards = document.querySelectorAll('.card');

        // Проходимося по кожній картці
        cards.forEach(function(card, index) {
            // Перевіряємо, чи є картка першою у рядку
            if (index % 5 === 0) {
                // Знаходимо максимальну висоту для карток у поточному рядку
                var maxHeight = 0;
                for (var i = index; i < index + 5 && i < cards.length; i++) {
                    var height = cards[i].offsetHeight;
                    if (height > maxHeight) {
                        maxHeight = height;
                    }
                }
                // Встановлюємо максимальну висоту для карток у поточному рядку
                for (var i = index; i < index + 5 && i < cards.length; i++) {
                    cards[i].style.height = maxHeight + 'px';
                }
            }
        });
    }

    // Викликаємо функцію під час завантаження сторінки та зміни розміру вікна
    window.addEventListener('load', setCardHeight);
    window.addEventListener('resize', setCardHeight);
</script>


{% endblock %}
