{% extends 'base.html' %}
{% block title %}Тест исправления{% endblock %}
{% block main %} active {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Тест исправления проблемы с дублированием ID</h1>
            <p>Эта страница создана для тестирования исправления проблемы с дублированием ID при повторном использовании черновиков.</p>

            <div class="alert alert-info">
                <h4>Что было исправлено:</h4>
                <ul>
                    <li>Функция <code>add_object_to_db</code> теперь проверяет существование записи с таким ID</li>
                    <li>Если запись существует - она обновляется, если нет - создается новая</li>
                    <li>В <code>hierarchy.py</code> добавлена проверка существования записи в <code>HierarchyCriteriaMatrix</code></li>
                </ul>
            </div>

            <div class="alert alert-warning">
                <h4>Как протестировать:</h4>
                <ol>
                    <li>Создайте черновик в любом методе (например, Анализ Иерархий)</li>
                    <li>Загрузите этот черновик второй раз</li>
                    <li>Попробуйте перейти на следующую страницу</li>
                    <li>Ошибка с дублированием ID больше не должна появляться</li>
                </ol>
            </div>

            <div class="mt-4">
                <a href="{{ url_for('hierarchy.index') }}" class="btn btn-primary">Тест Анализ Иерархий</a>
                <a href="{{ url_for('drafts.index') }}" class="btn btn-info">Просмотр черновиков</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
